<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JS Axios Demo</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script>
        function performGetRequest1() {
            var resultElement = document.getElementById('getResult1');
            resultElement.innerHTML = '';

            axios.get('http://dmz-middle:8080/api/accounts/')
                .then(function (response) {
                    console.log(response);
                    resultElement.innerHTML = generateSuccessHTMLOutput(response);
                })
                .catch(function (error) {
                    resultElement.innerHTML = generateErrorHTMLOutput(error);
                });
        }

        function generateSuccessHTMLOutput(response) {
            return  '<h4>Result</h4>' +
                '<h5>Status:</h5> ' +
                '<pre>' + response.status + ' ' + response.statusText + '</pre>' +
                '<h5>Headers:</h5>' +
                '<pre>' + JSON.stringify(response.headers, null, '\t') + '</pre>' +
                '<h5>Data:</h5>' +
                '<pre>' + JSON.stringify(response.data, null, '\t') + '</pre>';
        }

        function generateErrorHTMLOutput(error) {
            return  '<h4>Result</h4>' +
                '<h5>Message:</h5> ' +
                '<pre>' + error.message + '</pre>' +
                '<h5>Status:</h5> ' +
                '<pre>' + error.response.status + ' ' + error.response.statusText + '</pre>' +
                '<h5>Headers:</h5>' +
                '<pre>' + JSON.stringify(error.response.headers, null, '\t') + '</pre>' +
                '<h5>Data:</h5>' +
                '<pre>' + JSON.stringify(error.response.data, null, '\t') + '</pre>';
        }
    </script>
  </head>
  <body>
    <div class="container">

      <div class="panel panel-primary">
        <div class="panel-heading">Accounts</div>
        <div class="panel-body">
          <button class="btn btn-primary" onclick="performGetRequest1()">Get Account Data</button>
          <div class="panel-body" id="getResult1"></div>
        </div>
      </div>

    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>